<div class="container">
  <div class="col-md-12">
    <h2>GateKeeper Mixin</h2>
    <p>Torii automatically mixes Gatekeeper into the torii session. This adds some ArcGIS Online specific methods for managing authorization.</p>
    <h3>Methods</h3>
    <ul>
      <li>isInRole(roleName)</li>
      <li>hasPrivilege(priviligeName)</li>
      <li>isInOrg(orgId)</li>
      <li>isInAnyRole([roleName,roleName])</li>
      <li>hasAnyPrivilege([priviligeName,priviligeName])</li>
      <li>isInAnyOrg([orgId, orgId])</li>
      <li>portalHostName</li>
    </ul>
    {{#if session.isAuthenticated}}
    <h2>Hey there {{session.currentUser.fullName}}!</h2>
    <p>This page simply does a few role/priviledge checks using the gatekeeper service</p>
    <ul>
      <li>isInRole('org_admin'): {{model.isOrgAdmin}}</li>
      <li>hasPriviledge('opendata:user:openDataAdmin'): {{model.hasOpenDataAdmin}}</li>
      <li>isInOrg('bkrWlSKcjUDFDtgw'): {{model.isInDCProdOrg}}</li>
      <li>portalHostName: {{model.portalHostName}}</li>
    </ul>
    {{else}}
    <h2>Hello Unauthenticated User!</h2>
    <p>you need to login before we can check roles/privileges</p>
    <p>portalHostName: {{session.portalHostName}}</p>
    {{/if}}


  </div>
</div>
{{outlet}}
